<div class="section-modal">
    <div class="d-flex justify-content-end">
        <div (click)="close()">
            <i class="fa-solid fa-xmark btn-close-modal"></i>
        </div>
    </div>

    <h4>Agregar</h4>

    <div class="section-form">

        <form [formGroup]="supplierForm">

            <div class="row">
                <div class="col-12 mb-3">
                    <label for="">Tipo de identificación</label>
                    <ng-select [items]="tipoIdentificacion" placeholder="Seleccione"
                        formControlName="identificationType" bindLabel="text" bindValue="id">
                    </ng-select>
                </div>

                <div class="col-12 mb-3" *ngIf="supplierForm.get('identificationType')?.value == 1">
                    <label for="">Cedula</label>
                    <input class="form-control" mask="000-0000000-0" formControlName="idNumber">
                </div>
                <div class="col-12 mb-3" *ngIf="supplierForm.get('identificationType')?.value == 2">
                    <label for="">RNC</label>
                    <input class="form-control" mask="000000000" formControlName="idNumber">
                </div>

                <div class="col-12 mb-3">
                    <label for="">Nombre</label>
                    <input upperCase upperCase type="text" class="form-control" formControlName="name">
                </div>
            </div>
        </form>

        <button *ngIf="!isUpdate" class="btn btn-success w-100" [disabled]="!supplierForm.valid"
            (click)="save()">Guardar</button>
        <button *ngIf="isUpdate" class="btn btn-success w-100" (click)="update()">Actualizar</button>

    </div>




</div>