<div class="container">

  <h4>Home - Dashboard</h4>


  <div class="container mt-4 mb-5">
    <div class="row">
      <div class="col-md-6">
        <div class="custom-card p-4">
          <h5 class="">Total ordenes de compras</h5>
          <p></p>
          <span class="badge badge-success"></span>
          <span class="custom-badge">RD$ {{totalOrders | mask: 'separator' }}</span>
        </div>
      </div>


      <div class="col-md-6">
        <div class="custom-card p-4">
          <h5 class="">Total articulos</h5>
          <p></p>
          <span class="badge badge-success"></span>
          <span class="custom-badge-articles">{{totalArticles}}</span>
        </div>
      </div>

    </div>
  </div>

  <div class="d-flex justify-content-between" *ngIf="showChart">
    <div class="chart-wrapper" style="width: 670px;">
      <h6 class="mt-3 mb-3">Articulos mas comprados</h6>
      <canvas 
       baseChart 
       [datasets]="barChartData" 
       [labels]="barChartLabels" 
       [options]="barChartOptions"
        [plugins]="barChartPlugins" 
        [legend]="barChartLegend" 
        chartType="bar">
      </canvas>
    </div>
    <div style="width: 410px;">
      <h6 class="mt-3 mb-3">Marcas mas usados</h6>
      <canvas
      baseChart
      class="chart"
      [data]="pieChartData"
      [type]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
    >
    </canvas>
    </div>
  </div>


</div>

