<div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="dashboard-card">
          <h4 class="mb-3">Ejemplo de Card Personalizado</h4>
          <p>Contenido del card aquí...</p>
          <a href="#" class="btn btn-primary">Botón</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="custom-card p-4">
          <h4 class="mb-3">Card con Estilos Personalizados</h4>
          <p>Contenido del card aquí...</p>
          <a href="#" class="btn btn-primary">Botón</a>
        </div>
      </div>
    </div>
  </div>