<div class="container">

  <h4>Home - Dashboard</h4>


  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="custom-card p-4">
          <h5 class="">Total ordenes de compras</h5>
          <p>RD$ {{totalOrders | mask: 'separator' }}</p>
        </div>
      </div>
    </div>
  </div>


  <p class="mt-3 mb-3">Articulos mas comprados</p>

  <div class="row">
    <div class="col-md-6">

      <div class="chart-wrapper" *ngIf="showChart">
        <canvas 
         baseChart 
         [datasets]="barChartData" 
         [labels]="barChartLabels" 
         [options]="barChartOptions"
          [plugins]="barChartPlugins" 
          [legend]="barChartLegend" 
          chartType="bar">
        </canvas>
      </div>
    </div>
  </div>

</div>

