<div class="section-modal">
  <div class="d-flex justify-content-end">
    <div (click)="close()">
      <i class="fa-solid fa-xmark btn-close-modal"></i>
    </div>
  </div>
  <!-- s<hr class="hr" /> -->

  <h4>Agregar</h4>

  <div class="section-form">
    <div class="row">


      <form [formGroup]="articleForm">

        <div class="col-12 mb-3">
          <label for="">Descripcion</label>
          <input upperCase type="text" class="form-control" formControlName="description">
        </div>
        <div class="col-12 mb-3">
          <label for="">Marca</label>
          <ng-select [items]="brandCombox" placeholder="Seleccione" bindLabel="text" bindValue="id" formControlName="brandId">
          </ng-select>
        </div>
        <div class="col-12 mb-3">
          <label for="">Unidad de medida</label>
          <ng-select [items]="unitCombox" placeholder="Seleccione" bindLabel="text" bindValue="id" formControlName="measurementUnitId">
          </ng-select>
        </div>
        <div class="col-12 mb-3">
          <label for="">Stock</label>
          <input mask="00000" type="text" class="form-control" formControlName="stock">
        </div>

      </form>
    </div>

    <button *ngIf="!isUpdate" class="btn btn-success w-100"  (click)="save()">Guardar</button>
    <button *ngIf="isUpdate" class="btn btn-success w-100" (click)="update()">Actualizar</button>


  </div>




</div>