<div class="section-modal">
    <div class="d-flex justify-content-end">
      <div (click)="close()">
        <i class="fa-solid fa-xmark btn-close-modal"></i>
      </div>
    </div>
    <!-- s<hr class="hr" /> -->
  
    <h4>Agregar</h4>
  
    <div class="section-form">
      <div class="row">

        <form [formGroup]="departmentForm">

        <div class="col-12 mb-3">
          <label for="">Nombre</label>
          <input upperCase type="text" class="form-control" formControlName="name">
        </div>

        </form>

      </div>

      <button *ngIf="!isUpdate" class="btn btn-success w-100" [disabled]="!departmentForm.valid" (click)="save()">Guardar</button>
      <button *ngIf="isUpdate" class="btn btn-success w-100" (click)="update()">Actualizar</button>
  
    </div>

  </div>